<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="tice.poweroff"
      android:versionName="1.0.2" android:versionCode="2">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    
       <receiver android:name=".PoweroffReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>  
                <action android:name="tice.poweroff.intent.action.CUSTOM_ACTION_POWEROFF"/>
            </intent-filter>
        </receiver>
        
        <receiver android:name=".PoweroffWidgetProvider">
            <meta-data android:name="android.appwidget.provider"
                    android:resource="@xml/proweroffwidget_provider" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>  
              
        <activity android:name=".Poweroff" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".PoweroffAlert" android:label="@string/app_name"
                android:excludeFromRecents="true"
                android:theme="@android:style/Theme.Dialog"
                android:launchMode="singleTask"
                android:taskAffinity=".PoweroffAlert"
                android:screenOrientation="nosensor"
                android:configChanges="orientation|keyboardHidden|keyboard|navigation" />

        
    </application>
    
    <uses-sdk android:minSdkVersion="3" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>

</manifest> 